---
type Props = {
  date: string;
};

const { date } = Astro.props;
---

<a
  href={`/date/${encodeURI(new Date(date).getFullYear().toString())}`}
  target="_self"
  class="tag font-bold px-2.5 py-1 rounded-lg text-xs bg-red-300 m-auto w"
>
  {date}
</a>
