---
import { FOOTER_CONTENT } from "../config";
---

<footer class="">
  <div class="flex flex-row items-center justify-center max-w-screen-md h-64 mx-auto px-4 sm:px-6">
    <p
      class="md leading-[60px] font-black text-center  font-title font-black"
    >
      {FOOTER_CONTENT}
    </p>
  </div>
</footer>
