---
import {SITE_LOGO, SITE_TITLE} from "../config";
import Menus from "./Menus.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header
  class="sticky z-50"
>
  <div class="flex flex-row gap-8 items-center justify-between max-w-screen-lg mx-auto h-24 px-4 sm:px-6 ">
    <a href="/" class="flex flex-row items-center justify-center gap-2">
      <img src={SITE_LOGO} alt="author avatar" class="w-10 rounded-full aspect-square" />
      <span class="text-[12px] sm:text-2xl font-title font-black">{SITE_TITLE}</span>
    </a>
    <Menus />
    <ThemeIcon />
  </div>
</header>

<script is:inline>
  const initializeTheme = () => {
    const savedTheme = localStorage.getItem('theme')
    if (!savedTheme) {
      const systemPreference = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
      localStorage.setItem('theme', systemPreference);
    }
  };

  // Initialize theme on page load
  initializeTheme();
</script>

