---
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";
import Meta from "./Meta.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";

type Props = {
  title?: string;
  description?: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <Meta title={title ? `${title} · ${SITE_TITLE}` : SITE_TITLE} description={description ?? SITE_DESCRIPTION} />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">  </head>
  <body>
    <div class="flex flex-col h-full mb-8 overflow-y-scroll antialiased m-auto">
      <Header />
      <div class="flex-auto">
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
