---
type Props = {
  tag: string;
};

const { tag } = Astro.props;
---

<a
  href={`/tags/${encodeURI(tag)}`}
  target="_self"
  class="ml-0 mr-0 tag text-white bg-color-primary px-2.5 py-1 rounded-lg text-xs font-medium capitalize m-auto"
>
  {tag}
</a>
